.user-image{
  width:90px ;
  height: 90px;
}
.user-image{
display:flex;
border-radius: 5em;
position: relative;
top:30px;
}
.image{
  
  background-image: url('https://www.apyart.com/2108-thickbox_default/bleu-cobalt-500ml.jpg');
}
.user-list{
 background:#ffffff;
  border: black 1px solid;
  width: 30%;
   margin:2%;
  
} 
.users-list{
  display:flex;
  flex-wrap: wrap;
  
}
.user-image{
  justify-content: center;
  margin-left:145px;
}
.user-name{
  margin-left:100px;
  font-size:x-large ;
  padding: 20px;
}
 .phone-user{
  margin-left:135px;
 }
 .butt{
   border-radius: 15%;
   margin-left:155px;
   font-size: 1rem;
   background:blue;
   color:#ffffff;
 }
 .post{
   background: #18BDCF;
 }